.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    display:flex;
    justify-content: center;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#blogBody{
   padding: 5px;
}

.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{

}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
#edit{
    float:right;
    padding: 10px 30px;
    margin-right: 2%;
    color:white;
    background:#DC143C;
    border: none;
    box-shadow: 0 8px 6px -6px #DC143C;
    cursor: pointer;
    

}

#save{
    float:right;
    padding: 10px 30px;
    margin-right: 2%;
    color:white;
    background:#DC143C;
    border: none;
    box-shadow: 0 8px 6px -6px #DC143C;
    cursor: pointer;
    display:none;
}
